{:deps  {org.clojure/clojurescript {:mvn/version "1.10.439"}}
 :tasks {:init        (do (def target-dir "target")
                          (def out-dir "resources/out")
                          (def target-dir "target"))

         clean-client (do
                        (println "Cleaning (client)")
                        (println "  " out-dir)
                        (fs/delete-tree out-dir))

         clean-server (do
                        (println "Cleaning (server)")
                        (println "  " target-dir)
                        (fs/delete-tree target-dir))

         clean        {:requires ([babashka.fs :as fs])
                       :task     (do
                                   (run 'clean-client)
                                   (run 'clean-server))}

         cljs         (do
                        (println "Compiling ClojureScript")
                        (let [out-file "resources/public/main.js"
                              out-dir "resources/out"
                              clj-arg (format "-M:client -m cljs.main -co '{:infer-externs true}' --output-dir %s --optimizations advanced --output-to %s --compile 'clj-ts.client"
                                        out-dir
                                        out-file)]
                          (clojure clj-arg)))

         uberjar      (do
                        (println "Compiling Clojure")
                        (clojure "-T:uberjar uber"))

         all          (do (run 'clean)
                          (run 'cljs)
                          (run 'uberjar))

         dev-client   (clojure "-M:dev-client:client:dev")
         dev-server   (clojure "-M:dev-server:server:dev --directory '../../Documents/wiki/bedrock/'")

         lint         (do (println "todo --- clj -A:eastwood:app"))
         test         (do (println "todo --- clojure -A:test -m kaocha.runner --config-file test/tests.edn \"$@\""))}
 }

