^{:css-dirs ["resources/public"]
  :open-url false}
{:main            clj-ts.client
 :optimizations   :none
 :source-map      true
 :output-to       "resources/public/main.js"
 :output-dir      "resources/public/js/compiled/out"
 :asset-path      "/js/compiled/out"
 :closure-defines {clj-ts.http/env      "dev"
                   clj-ts.http/env-port 4545}}
