/*#region css variables */

:root {
  color-scheme: light dark;

  --primary-color: #0078d7;
  --primary-accent-color: #0078d7;
  --primary-background-color: #FFFFFF;
  --primary-foreground-color: #4A4A4A;
  --secondary-background-color: #F7F7F7;
  --secondary-foreground-color: #D3D3D3;
  --inverted-foreground-color: #FFFFFF;
  --off-primary-color: #107dd6;
  /* custom, per-element colors */
  --base-button-border-color: #DFDFDF;
  --base-button-hover-brightness: 95%;
  --base-button-active-brightness: 90%;
  --base-button-hover-invert: 0%;
  --base-button-active-invert: 0%;
  --base-a-tag-color: #39CCCC;
  --header-input-background-color: var(--primary-background-color);
  --header-input-separator-color: #dbdde1;
  --wikilink-color: #85144b;
  --double-comma-table-border-color: #808080;
  --manual-copy-background-color: #fafcf2;
  --page-control-pull-outside-margin: 6px;
  --material-icon-size: 25px;
  --card-list-item-margin: 20px;
  --paste-bar-padding: 5px;
  --card-border-radius: 5px;
  --card-min-height: 50px;
  --card-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  --card-outer-padding: 5px;
  --card-gutter-background-color: #EFEFEF;
  --card-details-label-color: #808080;
  --big-btn-padding-top: 7px;
  --big-btn-padding-bottom: 4px;
  --big-btn-padding-left: 8px;
  --big-btn-padding-right: 8px;
  --big-btn-padding: var(--big-btn-padding-top) var(--big-btn-padding-right) var(--big-btn-padding-bottom) var(--big-btn-padding-left);
  --big-btn-margin: 5px;
  --big-btn-height: 40px;
  --big-btn-width: 70px;
  --big-btn-border-radius: 5px;
  --main-padding-top: 0;
  --main-padding-right: 20px;
  --main-padding-bottom: 20px;
  --main-padding-left: 20px;
  --progress-bar-background-color: #00008b;
  --progress-bar-background-color-failure: #ff0066;
  --progress-bar-opacity-animation-duration: 25ms;
  --progress-bar-completed-animation-duration: 200ms;
  --progress-bar-failed-animation-duration: 500ms;
}

.theme-dark {
  --primary-color: #24292f;
  --off-primary-color: #24292f;
  --primary-background-color: #1e1e1e;
  --primary-foreground-color: #c6c0bb;
  --secondary-background-color: #181818;
  --secondary-foreground-color: #2f2f2f;
  --inverted-foreground-color: #c6c0bb;
  /* custom, per-element colors */
  --base-button-border-color: #181818;
  --base-button-hover-brightness: 100%;
  --base-button-active-brightness: 100%;
  --base-button-hover-invert: 5%;
  --base-button-active-invert: 10%;
  --card-gutter-background-color: #373737;
  --header-input-background-color: var(--secondary-background-color);
  --header-input-separator-color: #2a2a2a;
  --progress-bar-background-color: #0078d7;

}

/*#endregion */

/*#region base element styling */

html {
  background-color: var(--secondary-background-color);
  color: var(--primary-foreground-color);
  line-height: 1.15;
}

body {
  font-family: Roboto, Noto, sans-serif;
  font-size: 1.6rem;
  margin: auto;
  overflow-wrap: break-word;
  padding: 0;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 4.2rem;
  line-height: 110%;
}

h2 {
  font-size: 3.56rem;
  line-height: 110%;
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
}

h6 {
  font-size: 1.15rem;
  line-height: 110%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

a {
  color: var(--base-a-tag-color);
}

button {
  background-repeat: no-repeat;
  border-color: var(--base-button-border-color);
  border-width: 1px;
  color: var(--primary-accent-color);
  font-size: 1.2rem;
  margin: 5px;
  padding: 5px;
  transition: filter 100ms steps(4, jump-start);
}

button:hover {
  filter: brightness(var(--base-button-hover-brightness)) invert(var(--base-button-hover-invert));
}

button:active {
  filter: brightness(var(--base-button-active-brightness)) invert(var(--base-button-active-invert));
}

input {
  font-size: 1.2rem;
  border-width: 1px;
  border-color: var(--secondary-background-color);
  padding: 8px;
  background-color: transparent;
  color: var(--primary-foreground-color);
}

pre {
  font-size: 1rem;
  overflow: auto;
}

img {
  max-width: 100%;
  display: block;
}

main {
  padding: var(--main-padding-top) var(--main-padding-right) var(--main-padding-bottom) var(--main-padding-left);
  margin: calc(-1*var(--material-icon-size)) 5px 5px 5px;
}

/*#region input */

input:focus-visible {
  outline: none;
}

/*#endregion */

/*#region textarea */

div textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
}

/*#endregion */

/*#endregion */

/*#region utility */

/* todo - shared by card_list and card_shell; code smell? */
.card {
  background-color: var(--primary-background-color);
  padding: 7px;
  margin: 2px 0;
  min-height: var(--card-min-height);
}

.big-btn {
  cursor: pointer;
  background-color: var(--secondary-background-color);
  border-radius: var(--big-btn-border-radius);
  border-style: solid;
  border-width: 1px;
  font-size: 1.2rem;
  height: var(--big-btn-height);
  margin: var(--big-btn-margin);
  padding: var(--big-btn-padding);
  width: var(--big-btn-width);
}

.big-btn-left {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: 0 !important;
}

.big-btn-right {
  border-bottom-left-radius: 0;
  border-left-width: 0;
  border-top-left-radius: 0;
  margin-left: 0 !important;
}

.big-btn-middle {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-left-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.clickable {
  cursor: pointer;
}

/*#endregion */

/*#region transcript */

.transcript {
  padding-top: var(--main-padding-bottom);
}

/*#endregion */

/*#region card_bar */


.card-gutter .actions-container {
  display: flex;
  margin-left: calc(-1 * var(--card-outer-padding));
  margin-right: calc(-1 * var(--card-outer-padding));
}

.actions-container .expansion-toggle {
  margin-left: auto;
}

.card-gutter .card-gutter-inner {
  background-color: var(--card-gutter-background-color);
  box-shadow: 0 0px 2px rgb(0 0 0 / 0.2) inset;
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
  margin-left: calc(-1 * var(--card-outer-padding));
  margin-right: calc(-1 * var(--card-outer-padding));
  padding-bottom: 8px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1rem;
}

.details-container .details-label {
  color: var(--card-details-label-color) inset;
  display: inline-flex;
  font-size: small;
  font-style: italic;
  width: 50px;
}

.details-container .details-value {
  display: inline-flex;
  font-size: medium;
  white-space: nowrap;
}

.details-pair .right {
  justify-self: end;
}

.send-elsewhere-input-container {
  background-color: var(--header-input-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  height: 35px;
  border-radius: 24px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid transparent;
}

.send-elsewhere-input-container input {
  width: 100%;
  border: none;
  outline: none;
}

.send-elsewhere-input-actions {
  display: flex;
  align-items: center;
}

.send-elsewhere-input-actions button {
  color: var(--primary-foreground-color);
  cursor: pointer;
  border: none;
  background: none;
  height: 100%;
  width: 24px;
  font-size: 1.2rem;
  background-color: transparent;
  margin: 0 6px;
  padding-top: var(--big-btn-padding-top);
  padding-bottom: var(--big-btn-padding-bottom);
}

.send-elsewhere-input-container .input-separator {
  border-left: 1px solid var(--header-input-separator-color);
  height: 85%;
  margin-left: 10px;
  min-height: var(--material-icon-size);
}

/*#endregion */

/*#region card_list */

ul.user-card-list,
ul.system-card-list {
  list-style-type: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

/*#endregion */

/*#region card_shell */

.card-shell {
  margin: var(--card-list-item-margin) 0;
  box-shadow: var(--card-box-shadow);
  border-radius: var(--card-border-radius);
}

.card-shell:hover {
  filter: brightness(98%);
}

.card-outer {
  border-radius: var(--card-border-radius);
  padding: 0 var(--card-outer-padding);
  background-color: var(--primary-background-color);
  min-height: 90px;
}

.card-meta-parent {
  position: relative;
}

.card-meta {
  display: flex;
  font-size: 1rem;
  justify-content: flex-end;
  margin-left: -4px;
  margin-right: -4px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
}

.card-parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.card-parent.collapsed {
  height: var(--card-min-height);
}

.card-child {
  grid-area: 1 / 1 / 2 / 2;
}

.card-child.container {
  overflow: hidden;
}

.card-child.overlay {
  background: linear-gradient(0deg, var(--primary-background-color) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
  border-radius: var(--card-border-radius);
}

.editor-container {
  margin: var(--card-list-item-margin) 0;
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
}

.edit-box-single {
  border-bottom-color: var(--off-primary-color);
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
  border-bottom-style: solid;
  border-bottom-width: calc(var(--big-btn-margin) + var(--paste-bar-padding));
  margin: 0;
  padding: 0;
}

/*#endregion */

/*#region editor */

.edit-box-container {
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  margin-top: calc(2 * var(--material-icon-size));
}

.edit-box {
  border-bottom-color: var(--off-primary-color);
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
  border-bottom-style: solid;
  border-bottom-width: calc(var(--big-btn-margin) + var(--paste-bar-padding));
  margin: 0;
  min-height: 100%;
  padding: 0;
}

/*#endregion */

/*#region page-controls */

.page-controls-container {
  display: flex;
  align-items: flex-end;
  padding-top: 4px;
  min-height: var(--material-icon-size);
  overflow: hidden;
}

.page-controls-container>span {
  color: var(--secondary-foreground-color);
}

.page-controls-container>.left {
  margin-left: calc(-1*var(--page-control-pull-outside-margin));
}

.page-controls-container>.right {
  margin-left: auto;
  margin-right: calc(-1*var(--page-control-pull-outside-margin));
}

/*#endregion */

/*#region dialog */

dialog {
  background-color: var(--primary-background-color);
  color: var(--primary-foreground-color);

  border-radius: var(--card-border-radius);
  border-width: 0px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.2);
}

.dialog-description-container {
  text-align: center;
}

.dialog-actions-container {
  --big-btn-width: 100px;

  display: flex;
  justify-content: center;
  margin-top: var(--material-icon-size);
}

/*#endregion */

/*#region progress bar */

.progress-bar-outer {
  background-color: transparent;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  height: 2px !important;
  outline: 1px solid #0000;
  overflow: hidden;
  position: fixed;
  width: 100% !important;
  z-index: 999;
}

.progress-bar-outer.completed {
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  animation-name: progress-bar-outer-completed, progress-bar-outer-completed2;
  animation-delay: 0ms, calc(var(--progress-bar-opacity-animation-duration) + var(--progress-bar-completed-animation-duration));
  animation-duration: var(--progress-bar-opacity-animation-duration), var(--progress-bar-opacity-animation-duration);
}

.progress-bar-outer.failed {
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: linear;

  animation-name: progress-bar-outer-completed, progress-bar-outer-completed2;
  animation-delay: 0ms, calc(var(--progress-bar-opacity-animation-duration) + var(--progress-bar-failed-animation-duration));
  animation-duration: var(--progress-bar-opacity-animation-duration), var(--progress-bar-opacity-animation-duration);
}

@keyframes progress-bar-outer-completed {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

@keyframes progress-bar-outer-completed2 {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0;
  }
}

.progress-bar-inner {
  background-color: var(--progress-bar-background-color);
  left: 0;
  outline: 2px solid #0000;
  position: relative;
  top: 0;
  transition: width 1000ms ease-in;
}

.progress-bar-inner.completed {
  animation-delay: var(--progress-bar-opacity-animation-duration);
  animation-direction: normal;
  animation-duration: var(--progress-bar-completed-animation-duration);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: progress-bar-inner-completed;
  animation-play-state: running;
  animation-timing-function: linear;
}

.progress-bar-inner.failed {
  animation-delay: var(--progress-bar-opacity-animation-duration);
  animation-direction: normal;
  animation-duration: var(--progress-bar-failed-animation-duration);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: progress-bar-inner-failed;
  animation-play-state: running;
  animation-timing-function: linear;
}

@keyframes progress-bar-inner-completed {
  from {
    background-color: var(--progress-bar-background-color);
    width: 10%;
  }

  80% {
    background-color: var(--progress-bar-background-color);
    width: 100%;
  }

  to {
    background-color: white;
    width: 100%;
  }
}

@keyframes progress-bar-inner-failed {
  from {
    width: 100%;
  }

  80% {
    background-color: var(--progress-bar-background-color-failure);
  }

  to {
    background-color: white;
    width: 0%;
  }
}

/*#endregion */

/*#region nav_bar */

.nav-container {
  padding: 0 10px 5px 10px;
  margin: 0;
  color: var(--inverted-foreground-color);
  background-color: var(--primary-color);
  box-shadow: 0 0 10px 6px rgb(0 0 0 / 0.2);
  position: relative;
}

#header-nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 10px;
  column-gap: 16px;
}

#header-nav a {
  color: var(--inverted-foreground-color);
  text-decoration: none;
}

#header-input {
  background-color: var(--header-input-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 10px;
  height: 44px;
  border-radius: 24px;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid transparent;
}

.header-input-actions {
  display: flex;
  align-items: center;
}

.header-input-button {
  cursor: pointer;
  border: none;
  background: none;
  height: 100%;
  width: 24px;
  font-size: 1.2rem;
  background-color: transparent;
  margin: 0 6px;
  padding-top: var(--big-btn-padding-top);
  padding-bottom: var(--big-btn-padding-bottom);
}

.header-input-button>span {
  margin-left: -6px;
}

.header-input-separator {
  border-left: 1px solid var(--header-input-separator-color);
  height: 85%;
  min-height: var(--material-icon-size);
}

.rss-link {
  color: var(--primary-background-color);
}

@media (max-width: 500px) {
  .rss-link {
    margin-left: unset;
  }
}

#lambda-button {
  margin-left: 10px;
  padding-top: var(--big-btn-padding-bottom) !important;
  padding-left: 0px !important;
}

#lambda-button>span {
  font-family: sans-serif !important;
}

.nav-input-text {
  width: 100%;
  border: none;
  outline: none;
}

/*#endregion */

/*#region app-menu */

#app-menu {
  margin-left: auto;
}

.app-menu-outer {
  position: relative;
}

.app-menu-container {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 3;
}

.app-menu-container span.material-symbols-sharp {
  color: var(--primary-accent-color);
  display: inline;
}

.app-menu-container>.menu-list {
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.app-menu-container>.menu-list>li {
  align-items: center;
  background-color: var(--primary-background-color);
  display: flex;
  padding: 15px 10px;
  transition: filter 100ms steps(4, jump-start);
}

.app-menu-container>.menu-list>li:hover {
  filter: brightness(var(--base-button-hover-brightness)) invert(var(--base-button-hover-invert));
}

.app-menu-container>.menu-list>li:active {
  filter: brightness(var(--base-button-active-brightness)) invert(var(--base-button-active-invert));
}

.app-menu-container>.menu-list>li:first-of-type {
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}

.app-menu-container>.menu-list>li:last-of-type {
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
}

.app-menu-container>.menu-list .label {
  color: var(--primary-foreground-color) !important;
  margin-left: 10px;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: none;
}

/*#endregion */

/*#region paste_bar */

.pastebar {
  align-items: center;
  background-color: var(--off-primary-color);
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding: var(--paste-bar-padding);
}

.pastebar.global-edit {
  flex-wrap: wrap;
  justify-content: center;
}

.editor-container .pastebar {
  margin-top: 0px;
}

.pastebar .edit-actions {
  right: var(--paste-bar-padding);
  margin-left: auto;
}

@media (max-width: 500px) {
  .pastebar .edit-actions {
    margin-left: unset;
    right: unset;
  }
}

/*#endregion */

/*#region tool_bar */

.toolbar-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 5px;
  padding-bottom: 5px;
  margin-left: auto;
}

.button-container {
  display: flex;
}

/*#endregion */

/*#region workspace_card */

.workspace-header-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.workspace-header-container>* {
  /* flex: 1 1 0; */
  margin-bottom: 1em;
  ;
}

.visibility-buttons {
  display: flex;
}

.visibility-buttons>* {
  width: 150px;
  flex: 1 1 0;
}

.visibility-buttons>button.pressed {
  border-style: inset;
  background-color: var(--secondary-foreground-color);
}

.workspace-header {
  flex: 1 1 0;
  margin-bottom: 5px;
}

:is(.code-section-header-container, .calculated-section, .result-section)>h4 {
  margin: 0.912rem 5px 0 0 !important;
  white-space: nowrap;
}

.code-section-header-container {
  display: flex;
  align-content: flex-end;
}

.code-section-header-container>h4 {
  display: inline-block;
}

.code-section-header-container>.workspace-buttons {
  margin-left: auto;
}

.workspace-padding {
  padding: 3px;
}

.workspace-buttons {
  display: flex;
  align-items: flex-end;
}

.workspace-buttons>:last-child {
  margin-right: 0;
}

.lambda-button {
  margin-left: 0;
}

.lambda-button>span {
  font-family: sans-serif !important;
}

.calculated-out {
  font-size: 1rem;
}

.results {
  font-size: 1em;
}

/*#endregion */

/*#region client */

header {
  background-color: var(--primary-background-color);
}

header a {
  color: var(--primary-accent-color);
}

.page-header-container {
  background-color: var(--off-primary-color);
  border-width: 0px;
  color: var(--inverted-foreground-color);
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 10px;
}

.page-title-container {
  align-items: center;
  display: flex;
  padding: 5px;
}

.page-title-container>h1 {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

@media (max-width: 500px) {
  .page-header-container {
    display: block;
  }

  .page-title-container {
    display: flex;
    justify-content: center;
  }

  .toolbar-container {
    justify-content: center;
  }
}

/*#endregion */

/*#region shared (between client and server) */

/*#region common.cljc */

.wikilink {
  cursor: pointer;
  color: var(--wikilink-color);
}

.double-comma-table {
  border-collapse: collapse;
  width: 100%;
}

.double-comma-table td {
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: var(--double-comma-table-border-color);
  padding: 10px 0;
}

.double-comma-table tr:hover {
  background-color: var(--secondary-background-color);
}

/*#endregion */

/* shared by client.card_list and server.static_export */
.manual-copy {
  background-color: var(--manual-copy-background-color);
  padding: 5px;
  margin: 2px;
  border-radius: 10px;
}

/*#endregion */

/*#region server.static_export */

.transcluded {
  background-color: #eeeeff;
  padding: 10px;
  border-left: 10px solid #faaa96;
}

/*#endregion */

/*#region server.embed */

/* note: also referenced by common.cljc */
.embed_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.youtube-embedded {
  width: 100%;
  position: relative;
  height: 20em;
}

.vimeo-embedded {
  width: 100%;
  position: relative;
  height: 20em;
}

/*#endregion */