/*#region css variables */

:root {
  /* --main-panel-background-color: #1f1f1f; */
  /* --secondary-background-color: #181818; */
  /* --primary-accent-color: #0078d4; */
  /* --active-text-color: #c6c0bb; */
  /* --inactive-text-color: #8c8c8c; */
  /* --panel-divider-color: #2a2a2a; */

  --page-control-pull-outside-margin: 6px;
  --material-icon-size: 25px;
  --card-list-item-margin: 20px;

  --primary-color: #0078d7;
  --off-primary-color: #107dd6;
  --paste-bar-color: #777788;
  --paste-bar-padding: 5px;

  --card-border-radius: 5px;
  --card-min-height: 50px;
  --card-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  --big-btn-padding-top: 7px;
  --big-btn-padding-bottom: 4px;
  --big-btn-padding-left: 8px;
  --big-btn-padding-right: 8px;
  --big-btn-padding: var(--big-btn-padding-top) var(--big-btn-padding-right) var(--big-btn-padding-bottom) var(--big-btn-padding-left);
  --big-btn-margin: 5px;
  --big-btn-height: 40px;
  --big-btn-width: 70px;
  --big-btn-border-radius: 5px;
  --big-btn-background-color: #F0F0F0;
  --big-btn-border-color: #DFDFDF;

  --base-body-color: #4a4a4a;
  --base-body-background-color: #F7F7F7;
  --base-button-border-color: #DFDFDF;
  --base-input-background-color: #F7F7F7;
  --base-header-background-color: #ffffff;

  --header-input-background-color: #ffffff;
  --card-background-color: #ffffff;
  --card-outer-background-color: #ffffff;
  --page-controls-container-color: #d3d3d3;
  --nav-container-color: #f5f5f5;
  --header-input-separator-color: #dbdde1;
  --rss-link-color: #ffffff;
  --visibility-button-pressed-background-color: #d3d3d3;
  --header-link-color: #264141;
  --page-header-container-color: #f5f5f5;
  --wikilink-color: #85144b;
  --double-comma-table-border-color: #808080;
  --double-comma-table-td-border-color: #808080;
  --double-comma-table-tr-hover-background-color: #f5f5f5;
  --manual-copy-background-color: #fafcf2;
}

/*#endregion */

/*#region base element styling */

html {
  line-height: 1.15;
}

body {
  background-color: var(--base-body-background-color);
  color: var(--base-body-color);
  font-family: Roboto, Noto, sans-serif;
  font-size: 1.6rem;
  margin: auto;
  overflow-wrap: break-word;
  padding: 0;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 4.2rem;
  line-height: 110%;
}

h2 {
  font-size: 3.56rem;
  line-height: 110%;
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
}

h6 {
  font-size: 1.15rem;
  line-height: 110%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

a {
  color: 39cccc;
}

button {
  font-size: 1.2rem;

  color: var(--primary-color);
  margin: 5px;
  background-repeat: no-repeat;
  padding: 5px;

  border-width: 1px;
  border-color: var(--base-button-border-color);
}

input {
  font-size: 1.2rem;
  font-family: sans;
  border-width: 1px;
  border-color: var(--base-input-background-color);
  padding: 8px;
}

pre {
  font-size: 1rem;
  overflow: auto;
}

img {
  max-width: 100%;
  display: block;
}

main {
  padding: 0 20px 20px 20px;
  margin: calc(-1*var(--material-icon-size)) 5px 5px 5px;
}

/*#region input */

input:focus-visible {
  outline: none;
}

/*#endregion */

/*#region textarea */

div textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
}

/*#endregion */

/*#endregion */

/*#region utility */

/* todo - shared by card_list and card_shell; code smell? */
.card {
  background-color: var(--card-background-color);
  padding: 7px;
  margin: 2px 0;
  min-height: var(--card-min-height);
}

.big-btn {
  cursor: pointer;
  background-color: var(--big-btn-background-color);
  border-color: var(--big-btn-border-color);
  border-style: solid;
  border-radius: var(--big-btn-border-radius);
  height: var(--big-btn-height);
  width: var(--big-btn-width);
  font-size: 1.2rem;
  padding: var(--big-btn-padding);
  margin: var(--big-btn-margin);
}

.big-btn-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0 !important;
}

.big-btn-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0 !important;
}

.big-btn-middle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.clickable {
  cursor: pointer;
}

/*#endregion */

/*#region card_bar */

.card-gutter {
  display: flex;
  margin-left: -4px;
  margin-right: -4px;
}

.card-gutter-expansion-toggle {
  margin-left: auto;
}

.card-bar {
  padding: 5px;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #333333;
}

.mini-button {
  margin: 3px;
  padding: 3px;
  border-style: solid;
  border-width: 1;
  border-color: #333333;
  cursor: pointer;
}

.send-to-bar {
  padding: 3px;
}

.send-to-inner {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: #555555;
  border-width: 1px;
}

/*#endregion */

/*#region card_list */

ul.user-card-list,
ul.system-card-list {
  list-style-type: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

/*#endregion */

/*#region card_shell */

.card-shell {
  margin: var(--card-list-item-margin) 0;
  box-shadow: var(--card-box-shadow);
  border-radius: var(--card-border-radius);
}

.card-shell:hover {
  filter: brightness(98%);
}

.card-outer {
  border-radius: var(--card-border-radius);
  padding: 0 5px;
  background-color: var(--card-outer-background-color);
  min-height: 90px;
}

.card-meta-parent {
  position: relative;
}

.card-meta {
  display: flex;
  font-size: 1rem;
  justify-content: flex-end;
  margin-left: -4px;
  margin-right: -4px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
}

.card-parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.card-parent.collapsed {
  height: var(--card-min-height);
}

.card-child {
  grid-area: 1 / 1 / 2 / 2;
}

.card-child.container {
  overflow: hidden;
}

.card-child.overlay {
  background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
  border-radius: var(--card-border-radius);
}

.editor-container {
  margin: var(--card-list-item-margin) 0;
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
}

.edit-box-single {
  padding: 0;
  margin: 0;
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
  border-bottom-style: solid;
  border-bottom-width: calc(var(--big-btn-margin) + var(--paste-bar-padding));
  border-bottom-color: var(--off-primary-color);
}

/*#endregion */

/*#region editor */

.edit-box {
  min-height: 100%;
  padding: 0;
  margin: 0;
  box-shadow: var(--card-box-shadow);
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
}

/*#endregion */

/*#region page-controls */

.page-controls-container {
  display: flex;
  align-items: flex-end;
  padding-top: 4px;
  min-height: var(--material-icon-size);
  overflow: hidden;
}

.page-controls-container>span {
  color: var(--page-controls-container-color);
}

.page-controls-container>.left {
  margin-left: calc(-1*var(--page-control-pull-outside-margin));
}

.page-controls-container>.right {
  margin-left: auto;
  margin-right: calc(-1*var(--page-control-pull-outside-margin));
}

/*#endregion */

/*#region nav_bar */

.nav-container {
  padding: 0 10px 5px 10px;
  margin: 0;
  color: var(--nav-container-color);
  background-color: var(--primary-color);
  box-shadow: 0 0 10px 6px rgb(0 0 0 / 0.2);
  position: relative;
}

#header-nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 4px;
}

#header-nav span {
  cursor: pointer;
}

#header-nav>.nav-spacer {
  margin: 8px;
}

#header-input {
  background-color: var(--header-input-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 10px;
  height: 44px;
  border-radius: 24px;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid transparent;
}

.header-input-button {
  cursor: pointer;
  border: none;
  background: none;
  height: 100%;
  width: 24px;
  font-size: 1.2rem;
  background-color: transparent;
  margin: 0 6px;
  padding-top: var(--big-btn-padding-top);
  padding-bottom: var(--big-btn-padding-bottom);
}

.header-input-separator {
  height: 85%;
  /* border-left: 1px solid #dadce0; */
  border-left: 1px solid var(--header-input-separator-color);
  margin-left: 10px;
}

.rss-link {
  color: var(--rss-link-color);
  margin-left: auto;
  margin-right: -4px;
}

#close-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0;
  margin-right: -5px;
}

#go-button {
  margin-left: 12px;
}

#lambda-button {
  margin-right: 8px;
  padding-top: 0px !important;
}

#lambda-button>span {
  margin-top: -1px;
}

.nav-input-text {
  width: 100%;
  border: none;
  outline: none;
}

/*#endregion */

/*#region paste_bar */

.pastebar {
  background-color: var(--off-primary-color);
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--paste-bar-padding);
  margin-top: 15px;
}

.pastebar.global-edit {
  justify-content: center;
}

.editor-container .pastebar {
  margin-top: 0px;
}

.pastebar .edit-actions {
  right: var(--paste-bar-padding);
  margin-left: auto;
}

/*#endregion */

/*#region tool_bar */

.toolbar-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 5px;
  padding-bottom: 5px;
  margin-left: auto;
}

.button-container {
  display: flex;
}

/*#endregion */

/*#region workspace_card */

.workspace-header-container {
  display: flex;
  align-items: flex-start;
}

.workspace-header-container>* {
  flex: 1 1 0;
  margin-bottom: 1em;
  ;
}

.visibility-buttons {
  display: flex;
}

.visibility-buttons>* {
  width: 150px;
  flex: 1 1 0;
}

.visibility-buttons>button.pressed {
  border-style: inset;
  background-color: var(--visibility-button-pressed-background-color);
}

.workspace-header {
  flex: 1 1 0;
  margin-bottom: 5px;
}

:is(.code-section-header-container, .calculated-section, .result-section)>h4 {
  margin: 0.912rem 5px 0 0 !important;
}

.code-section-header-container {
  display: flex;
  align-content: flex-end;
}

.code-section-header-container>h4 {
  display: inline-block;
}

.code-section-header-container>.workspace-buttons {
  margin-left: auto;
}

.workspace-padding {
  padding: 3px;
}

.workspace-buttons {
  display: flex;
  align-items: flex-end;
}

.workspace-buttons>:last-child {
  margin-right: 0;
}

.lambda-button {
  margin-left: 0;
}

.lambda-button>span {
  margin-top: -8px;
}

.calculated-out {
  font-size: 1rem;
}

.results {
  font-size: 1em;
}

/*#endregion */

/*#region client */

header {
  background-color: var(--base-header-background-color);
}

header a {
  color: var(--header-link-color);
}

.page-header-container {
  background-color: var(--off-primary-color);
  border-width: 0px;
  color: var(--page-header-container-color);
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 10px;
}

.page-title-container {
  align-items: center;
  display: flex;
  padding: 5px;
}

.page-title-container>h1 {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

@media (max-width: 500px) {
  .page-header-container {
    display: block;
  }

  .page-title-container {
    display: flex;
    justify-content: center;
  }

  .toolbar-container {
    justify-content: center;
  }
}

/*#endregion */

/*#region shared (between client and server) */

/*#region common.cljc */

.wikilink {
  cursor: pointer;
  color: var(--wikilink-color);
}

.double-comma-table {
  border-style: dotted;
  border-width: 1px;
  border-color: var(--double-comma-table-border-color);
  width: 100%;
}

.double-comma-table td {
  border-style: dotted;
  border-width: 1px;
  border-color: var(--double-comma-table-td-border-color);
  padding: 10px;
}

.double-comma-table tr:hover {
  background-color: var(--double-comma-table-tr-hover-background-color);
}

/*#endregion */

/* shared by client.card_list and server.static_export */
.manual-copy {
  background-color: var(--manual-copy-background-color);
  padding: 5px;
  margin: 2px;
  border-radius: 10px;
}

/*#endregion */

/*#region server.static_export */

.transcluded {
  background-color: #eeeeff;
  padding: 10px;
  border-left: 10px solid #faaa96;
}

/*#endregion */

/*#region server.embed */

/* note: also referenced by common.cljc */
.embed_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.youtube-embedded {
  width: 100%;
  position: relative;
  height: 20em;
}

.vimeo-embedded {
  width: 100%;
  position: relative;
  height: 20em;
}

/*#endregion */